<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <cmail-header></cmail-header>

    <main class="mdl-layout__content">
      <div class="page-content">
        <div class="mdl-grid">
          <form>
            <cmail-form-group label="Nome">
              <input required type="text" name="recepient" id="recepient" placeholder=" " class="mdl-textfield__input">
              <span class="mdl-textfield__error">Informar um nome é obrigatório!</span>
            </cmail-form-group>

            <cmail-form-group label="E-mail">
                <input required type="email" name="recepient" id="recepient" placeholder=" " class="mdl-textfield__input">
                <span class="mdl-textfield__error">Informar um email é obrigatório!</span>
              </cmail-form-group>
            
            <div class="mdl-card__actions">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                Cadastrar
              </button>
            </div>
  
          </form>
        </div>
      </div>
    </main>
  </div>