<div class="mdl-layout mdl-js-layout">
  <main class="mdl-layout__content">
  <div class="page-content">
    <div class="mdl-grid">
      <article class="demo-card-wide mdl-card mdl-shadow--2dp">
        <header class="mdl-card__title">
          <h1 class="mdl-card__title-text">Bem vindos/as ao CMail!</h1>
        </header>
  
        <form #loginForm="ngForm" (ngSubmit)="submitLogin(loginForm)" autocomplete="off" class="mdl-card__supporting-text">
  
          <!-- aqui os campos do formulário -->
          <cmail-form-group label="Email" id-form="email" [control]="email">
            <input #email="ngModel" [(ngModel)]="login.email" cmailFormField required type="email" name="email">
            <span class="mdl-textfield__error" *ngIf="email.invalid">Informar um e-mail é obrigatório!</span>
          </cmail-form-group>

          <cmail-form-group label="Senha" id-form="password" [control]="password">
            <input #password="ngModel" [(ngModel)]="login.password" cmailFormField required type="password" name="password">
            <span class="mdl-textfield__error" *ngIf="password.invalid">Informar uma senha é obrigatório!</span>
          </cmail-form-group>
  
          <div class="mdl-card__actions mdl-card--border">
            <a routerLink="register" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              Primeiro login? Cadastre-se!
            </a>
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent entrar">
              Entrar
            </button>
          </div>
        </form>
  
      </article>
    </div>
  </div>
  </main>
  </div>